[2018-08-10 15:32] muhajirframe opened #4 "Difference with babel-plugin-tailwind"
What's the difference with https://github.com/andrewdelprete/babel-plugin-tailwind ?

[2018-08-29 20:24] josiahdahl opened #6 "Errant console.log"
Hi @bradlc - I just started using your plugin and it's working great so far. I was trying to get around an issue integrating with Storybook and switched from using the `tailwind.macro` explicit import to the implicit import with `babel-plugin-tailwind-components` in my `.babelrc`.

I noticed some additional logs in the console and found that one had been left here https://github.com/bradlc/babel-p

[2018-08-29 21:52] josiahdahl commented on #4
@muhajirframe That plugin had the last update 6 months ago, this one 13 days ago. It's more up-to-date with the latest version of Tailwind.

[2018-08-29 21:58] josiahdahl opened #7 "Using Storybook with this plugin"
I'm building a site with GatsbyJS and using this plugin to use Tailwind. I also have [Storybook](https://github.com/storybooks/storybook) to preview my components. However, I was running into an error

[code]
which I solved by adding adding `babel-plugin-transform-object-rest-spread` as a dev dependency and adding it to the custom .babelrc in the .storybook directory.
[code]
I'm not sure if this s

[2018-08-30 17:42] bradlc commented on #4
Hey @muhajirframe

There are a few notable differences:

- using a custom Tailwind config is much easier with this plugin
- as far as I can tell with the other plugin your styles won’t update in development if you change your Tailwind config, you have to restart your build. With this plugin your styles will update
- this plugin provides a [macro](https://github.com/kentcdodds/babel-plugin-macros),

[2018-08-30 17:43] bradlc commented on #6
Hey @josiahdahl, thanks for the heads up. I will remove it later today!

[2018-08-30 17:57] bradlc commented on #7
Ah, good point. Maybe we can just add `inherits: require('@babel/plugin-syntax-object-rest-spread')`? https://github.com/jamiebuilds/babel-handbook/blob/master/translations/en/plugin-handbook.md#-enabling-syntax-in-plugins

[2018-08-30 18:02] bradlc commented on #4
The two plugins have fundamentally different approaches. The other one takes a compiled Tailwind CSS file and creates a list of class names from that, whereas this plugin does not require a CSS file at all, it works directly from your Tailwind config.

Here’s how this plugin transforms your code **in development**:

[code]

And when run in **production** (`NODE_ENV=production`):

[code]

[2018-08-30 20:42] bradlc commented on #6
Gone in `0.5.4`

[2018-08-30 20:42] #6 closed

[2018-08-31 03:35] muhajirframe commented on #4
Woah, thank you very much @bradlc @josiahdahl .

Love what you do.

About `this plugin doesn’t support Tailwind plugins`. Is it intentionally by design, or you're still working on this?

[2018-08-31 13:29] bradlc commented on #4
No plans to support plugins right now. Not sure how feasible it is.

Since you’re in CSS-in-JS-land anyway, you can write your own "plugins" in JavaScript, or use something like [polished](https://polished.js.org/)

[2018-08-31 13:48] bradlc commented on #4
Thinking about it some more, I think it might be doable! I will have a look when I get chance.

[2018-08-31 19:11] josiahdahl commented on #7
That looks like it could work. Thanks for updating it in the readme as well #6

[2018-09-01 05:29] muhajirframe commented on #4
Ah, got it.

[2018-09-05 07:37] TomPichaud opened #8 "[Bug] Parser: border-width and width-x/x negative-margin"
Hello,

I'm trying to use your plugin with [Gatsby](https://github.com/gatsbyjs/gatsby) and Emotion, but I've found few critical issues, wondering if there is any other.

• `border` should output the default `border-width: 1px;` instead of nothing. Don't know where this is coming from...

• `width-1/2` should output `width: 50%;` instead of `width: 0.25rem;` (I think your parser is only reading th

[2018-09-05 15:13] bradlc commented on #8
Hey Tom,

The issues with width and negative margins are fixed in `0.5.5`

[2018-09-23 11:39] andrewfan opened #9 "why tag is called `tw` instead of `@apply`?"

[2018-09-23 13:47] andrewfan opened #10 "Bug with tw`border`"
tw`border` transplits to
[code]
and in runtime it equals to `{borderColor: "#aab2b4"}`

expected to have `{borderWidth: "1px"}`

[2018-09-24 23:41] andrewdelprete commented on #4
Hey awesome job on the macro approach. I wrote `babel-plugin-tailwind` as my first experiment with doing the AST stuff. I do plan on making some adjustments in the near future to update it with the latest version of Tailwind, but I think your approach is spot on. 🙌🏻 // @bradlc

[2018-09-27 21:34] bradlc commented on #9
Hey @andrewfan

Mostly for brevity. If you use the macro (the recommended method) you can call it whatever you like:

[code]

[2018-09-27 21:34] #9 closed

[2018-09-30 11:54] bradlc commented on #10
Thanks for filing an issue. I have just published `0.5.10` with a fix.

[2018-09-30 11:54] #10 closed

[2018-09-30 11:56] bradlc commented on #8
And border should be all good in version `0.5.10`!

[2018-09-30 11:56] #8 closed

[2018-10-04 14:57] muhajirframe opened #12 "Starter Example"
Hey @bradlc ,
I just made a react starter with this lib.  I was struggling integrating this with `create-react-app` previously.

Do you think it would be a good idea putting [react-tailwind-emotion-starter](https://github.com/muhajirframe/react-tailwind-emotion-starter) on readme?

[2018-10-04 16:42] bradlc commented on #12
Hey @muhajirframe

I think I would prefer to add instructions for Create React App itself. As of [version 2.0, released a few days ago](https://reactjs.org/blog/2018/10/01/create-react-app-v2.html), CRA supports Babel macros out-of-the-box (without the need for `react-app-rewired`), and I have verified that `tailwind.macro` works fine.

[2018-10-05 07:41] muhajirframe commented on #12
Hi, @bradlc . Yeah. that could work too. 👍

Last time I tried with babel macros. It takes the `tailwind.js` from  root project `/talwind.js`. But `create-react-app` can only import files within `/src`.

And then I try write the config in `.babel-plugin-macrosrc.js`. Which doesn't seems to work too .  Also, this feature is still experimental.

[2018-10-05 09:45] bradlc commented on #12
Have you tried that with Create React App 2.0? I tried yesterday and it worked with this `babel-plugin-macros.config.js`:

[code]

[2018-10-05 09:47] bradlc commented on #12
Also it could be cool to add a section to the readme with links to related repos/packages

[2018-10-05 10:19] muhajirframe commented on #12
Yeah, maybe when I tried that. It wasn't 2.0 yet. I'll give it another try.

[2018-10-05 10:42] muhajirframe commented on #12
Yeah, I published some lib after using your lib
- [gatsby-tailwind-emotion-starter](https://github.com/muhajirframe/gatsby-tailwind-emotion-starter)
- [gatsby-plugin-tailwindcss](https://github.com/muhajirframe/gatsby-plugin-tailwindcss)
- [vscode-tailwind-styled-snippets](https://github.com/muhajirframe/vscode-tailwind-styled-snippets)

[2018-10-15 20:02] bskimball opened #13 "bg colors aren't working"
version 0.5.10

when using the bg class for any color I am getting the error "Unhandled Rejection (TypeError): Cannot read property 'black' of undefined"

Code
[code]

[2018-10-16 09:14] bradlc commented on #13
Hey @bskimball

My best guess is that you don’t have `backgroundSize` in your Tailwind config (https://tailwindcss.com/docs/background-size/)

This is a relatively recent addition to Tailwind (previously you couldn’t customise background sizes) and currently the babel plugin expects it to exist in your config, but I am hoping to improve the error handling soon.

[2018-10-16 12:21] bskimball commented on #13
Thanks @bradlc works like a charm.

[2018-10-16 12:27] bradlc commented on #13
No problem! Glad it’s working.

[2018-10-16 12:27] #13 closed, assigned to nobody

[2018-10-30 17:24] cweekly opened #14 "Suggestion for clarity in README"
This disclaimer might scare people off:

I suggest adding a note that @babel/plugin-syntax-object-rest-spread is included in babel-preset-react-app, so the dependency is met in non-ejected CRA2 apps.

Also, I wanted to say thank you for providing this plugin as a macro. CRA1 apps + rewired worked pretty well, but so many plugins are broken bc of Webpack 4's new API. For non-ejected CRA2 apps, it l

[2018-11-30 04:01] jhogendorn opened #15 "Cannot read property 'quasis' of undefined"
When attempting to compile a project with this plugin and styled-components, the compilation fails with the error in the title.

This is in a webpack project with multiple builds.

https://gist.github.com/jhogendorn/eeae47004a3f088842bb40aba1d3b528

Raised the issue on the babeljs slack, @loganfsmyth replied that it seems to be a bug with the plugin

[2018-11-30 06:07] loganfsmyth commented on #15
Seems like https://github.com/bradlc/babel-plugin-tailwind-components/blob/9b4e7b5a9ce87d4eaf7fc19b7d8c86d5a940cb2b/src/visit.js#L33 should be

[code]
I'm not really familiar with how macros work, but the AST at least needs a tweak.

[2018-12-20 22:17] lukemcdonald opened #16 "Uknown property name for border radius sides"
When [rounding sides separately](https://tailwindcss.com/docs/border-radius/#rounding-sides-separately) using `.rounded-{t|r|b|l}{-size?}`, the output displays a single unknown property.

For example, the CSS output when using `rounded-t`:

[code]

The output should be:

[code]

[2019-02-23 02:19] lusid opened #17 "Support for focus-within?"
I've added the focus-within module to the list of modules for borderColors in the tailwind.js config file.

If I execute this code:
[code]

I get the following result:
[code]

I know this works when I integrate Tailwind in webpack using postcss, but it doesn't seem to work with this babel plugin.

Also, as an aside, what is the proper way to add these?

[code]

[2019-02-28 18:54] ockam opened #18 "Accessing color value"
Is it possible to access the colors values to apply them to custom css rules?

Like in this (NOT WORKING) example:
[code]

[2019-02-28 19:03] ockam commented on #18
Nevermind, I was looking in the wrong direction, you can simply import Tailwind config:

`import { colors } from '../../../tailwind.config'`

[2019-02-28 19:03] #18 closed, assigned to nobody

[2019-03-02 02:04] pkrogel-kws opened #19 "How to pass variables in?"
Is there any way to pass variables in?

I know this isn't correct, but something like:

[code]

[2019-03-08 07:01] #19 closed, assigned to nobody

[2019-03-09 08:20] joeldbirch commented on #19
Same question. I guess you found an answer for this. May I ask what it was, please?

[2019-03-24 12:10] muhghazaliakbar commented on #19
@pkrogel-kws Did you found the solution?

[2019-03-26 02:54] Shaderpixel opened #20 "Tailwind v1.0 compatibility"
Hi @bradlc, great work on creating this babel plugin. I am building my website using Gatsby and following the starter demo for Gatsby + Emotion + Tailwind (https://github.com/jlengstorf/gatsby-tailwind-demo). It works great with Tailwind v0.7.4.

I was poking around Tailwind site and noticed that Adam is planning a release of v1.0 soon and there are some changes in the way the config files are set

[2019-03-28 15:39] nathan3000 opened #21 "Support for advanced screens"
Tailwind has support for advanced screens with `min-width` and `max-width` media queries. This plugin only seems to support `min-width`.

[Advanced Screens - documentation](https://tailwindcss.com/docs/responsive-design#advanced-screens
)
[code]

I had a look at fixing the issue but I can't see how it could work in development when the config isn't being loaded and therefore can't be inspected:

[

[2019-04-01 16:58] davecalnan commented on #20
Hi @Shaderpixel, I ran into the same issue and looked into what would be required for Tailwind 1.0 capability. Unfortunately it doesn't seem to be a trivial update.

## My exploration into the source code of this package and [tailwindcss](https://github.com/tailwindcss/tailwindcss/tree/next)

Because pre-1.0 installations have the entire config explicitly listed in the tailwind.js file, it's relat

[2019-04-01 18:21] bradlc opened #22 "Styled API"
Add support for styled-components style API:

[code]

Should we use the default export like above, or use a separate named export? For example:

[code]

[2019-04-01 18:26] bradlc commented on #17
Hey @lusid

I'm going to close this issue in favour of #20 which will cover adding `focus-within`

The plugin does not support Tailwind directives. If you want the Tailwind preflight/base styles you will have to add them yourself. How you'd do that depends on which CSS-in-JS solution you are using.

[2019-04-01 18:26] #17 closed, assigned to nobody

[2019-04-02 02:24] bradlc commented on #20
Hey @Shaderpixel and @davecalnan

v1 support is very nearly done on the [`next` branch](https://github.com/bradlc/babel-plugin-tailwind-components/tree/next). The main thing left to do is to update the static styles. I will try to publish it to npm this week under the `next` tag.

[2019-04-02 02:32] bradlc commented on #21
Hey @nathan3000

I have added support for this on the [`next` branch](https://github.com/bradlc/babel-plugin-tailwind-components/tree/next). The way it works in dev is by importing a utility function. So you end up with something like this:

[code]

I will try to publish this under the `next` tag on npm this week. I'll let you know!

[2019-04-02 10:21] bradlc commented on #16
Hey @lukemcdonald. Thanks for reporting this. I have fixed it on the [`next` branch](https://github.com/bradlc/babel-plugin-tailwind-components/tree/next) which I will be tagging on npm this week.

[2019-04-02 10:25] bradlc commented on #22
Should be able to support something like this:

**In**
[code]

**Out**
[code]

[2019-04-02 15:42] bradlc commented on #19
The plugin doesn't support class name interpolation. e.g. `text-${props.foo}`

[2019-04-03 18:18] DevanB commented on #20
@bradlc I, too, am curious about 1.0. Great work updating this! I'm curious to try it out once you release it to the `next` tag!

[2019-04-03 23:09] bradlc commented on #20
Still got a bit to do but here's an initial version for anyone wanting to try it out 🎉 https://github.com/bradlc/babel-plugin-tailwind-components/releases/tag/v1.0.0-alpha.2

[2019-04-04 00:07] Shaderpixel commented on #20
Awesome @bradlc, thanks for working so quickly on it. I will give it a whirl hopefully this weekend.

[2019-04-05 13:00] pradel commented on #20
I tried and for now it works well!
Thank you so much @bradlc 🙏
I tried to make it work with `styled-components` but no luck, I couldn't find how to make the custom config work.

[2019-04-05 13:21] bradlc commented on #20
@pradel the config goes in a [`babel-plugin-macros` config file](https://github.com/kentcdodds/babel-plugin-macros/blob/master/other/docs/user.md#config-experimental). For `styled-components` you would want:

[code]

Is that what you have?

[2019-04-05 13:24] pradel commented on #20
@bradlc my bad, I was trying to set the config in `.babelrc` 🤦‍♂️ it's working now, thank you!

[2019-04-08 11:34] Shaderpixel commented on #20
Hey @bradlc, I installed the tailwind.macro and using it with Gatsby. Here are my steps, please let me know if I am doing something wrong: I imported the macro into the document that I am working on and instead of using `styled` from `@emotion/styled` I will just use the `tw` tagged templates?

One more question, is the following no longer doable or I am just doing it wrong. Any suggestions how to

[2019-04-08 11:45] bradlc commented on #20
Hey @Shaderpixel

Yeah so instead of this (which still works):

[code]

...you can do this:

[code]

Interpolations like in your example are not supported right now. You would have to do something like:

[code]

In #22 I have an example of what I'd like to support with regards to interpolations. This would allow:

[code]

Or if you have those colors in your Tailwind config:

[code]

Are you having

[2019-04-08 11:47] bradlc commented on #20
I have put together a PR for @jlengstorf's Gatsby demo which uses the alpha release: https://github.com/jlengstorf/gatsby-tailwind-demo/pull/8

[2019-04-08 11:59] Shaderpixel commented on #20
Sweet! Thanks for all the examples and ultra fast response. My issue was I was testing with the old configuration inside of `gatsby-node.js` that uses the Babel plugin but with the new `tailwind.config.js` and it obviously error out 🤦‍♂️ . But the interpolation now works well and I am looking forward to using the new interpolation methods in the future. Thanks for all your hard work. Should I clos

[2019-04-08 12:03] bradlc commented on #20
No problem! Let me know if you run into any other issues, or have any questions/suggestions.

Let's leave this open until it's released properly :)

[2019-04-08 13:03] ockam commented on #20
@bradlc I’m a bit confused by your gatsby-tailwind-demo PR, i.e. you are not using `babel-plugin-macros` in the packages. Is it required or not?

[2019-04-08 13:06] bradlc commented on #20
@ockam Gatsby [supports `babel-plugin-macros` out-of-the-box](https://www.gatsbyjs.org/docs/babel-plugin-macros/) 🙌

[2019-04-08 13:17] ockam commented on #20
OK. When using the following code, I get the proper html node but css class do not work (I’m using Emotion):
[code]
I don’t see any special config in the example. What am I missing?

[2019-04-08 13:21] bradlc commented on #20
Are you using the [default Tailwind v1 config](https://github.com/tailwindcss/tailwindcss/blob/next/stubs/defaultConfig.stub.js) (or no config)? If you are there is no `bg-pink` or `text-red`. Maybe try `bg-pink-500` or `text-red-500`

[2019-04-08 13:24] ockam commented on #20
🤦‍♂️ too used to the old Tailwind syntax. Works fine now! Huge thanks for the quick reply!

[2019-04-08 13:35] bradlc commented on #20
Hah no worries, I do the same thing when testing Tailwind v1 stuff. `bg-red` was my go-to test class 😅

We should probably throw an error when a class name is unrecognised. Currently unknown class names are just ignored.

[2019-04-12 22:55] tobeycodes commented on #22
It would be useful to use it to extend so instead of

[code]

We could do

[code]

[2019-04-13 00:38] tobeycodes commented on #20
My workaround for the above is. I did not want to hardcode the color so grab it from the config.

[code]

[2019-04-13 21:10] bradlc commented on #22
You can do this already in pretty much the same way you would with standard `emotion`/`styled-components`:

[code]

[2019-04-24 14:13] azdanov opened #23 "Is .container functional in v1?"
I've been giving a try to the new version without any issue until `.container`.

It doesn't seem to work. Leaving empty stylesheet.

[2019-04-24 14:21] bradlc commented on #23
Hey @azdanov. Plugins are not supported, sorry. I’ll look at making that more clear in the readme.

[2019-04-24 14:21] #23 closed, assigned to nobody

[2019-04-24 16:12] azdanov commented on #23
@bradlc I'm curious what are the technical reason for this limitation, and what other plugins Tailwind CSS has?

[2019-04-24 19:51] llaski commented on #21
Leaving this here for anyone working with the beta for tailwind v1 since the config's are now merged and the example above won't work if your not duplicating the default screen values. Took me a while to figure out the syntax, but this is how ya do it (using styled components)

[code]

[2019-04-24 20:14] bradlc commented on #21
@llaski Hey. The code in my previous comment is an example of what the babel plugin outputs. You wouldn’t actually write code like that yourself. Assuming you’re using `tailwind.macro@next` you would write something like:

[code]

[2019-04-24 20:35] llaski commented on #21
@bradlc I should have specified my use case more clearly. I needed direct access to the screen size because from what I could tell there isn't a way to use the directives from tailwind in combination with styled components. For example I would love to be able to do something like this:

[code]

So the above is my workaround to replicate the directive so I don't duplicate the source of truth for sc

[2019-04-27 14:10] DevanB commented on #20
Would it be possible to specify `styled-components/macro` in the future @bradlc? This would allow us to receive the beautiful `babel-plugin-styled-components` goodies like `displayName`?

The current work-around for this is:

[code]

as opposed to
[code]

[2019-04-28 21:17] bradlc commented on #20
@DevanB I’ve looked into this and there’s actually [a bug in `babel-plugin-styled-components`](https://github.com/styled-components/babel-plugin-styled-components/issues/179) that prevents it from working with `tailwind.macro`. The Tailwind macro produces code that looks like this:

[code]

`babel-plugin-styled-components` fails to transform code that looks like this, despite that fact that it is

[2019-05-01 00:23] tobeycodes commented on #22
@bradlc Do you know why when I get this error? `It looks like you've wrapped styled() around your React component (h3), but the className prop is not being passed down to a child. No styles will be rendered unless className is composed within your React component.`

**Has error**
[code]

**No error**
[code]

**No error**
[code]

It seems to me it only happens when it's `tw` other than a div.

[2019-05-01 13:38] bradlc commented on #23
I should correct my previous comment: in more recent versions of Tailwind technically _everything_ is a plugin. I guess what I really mean is that the babel plugin **doesn’t support components (like `.container`) or _third-party_ plugins**

I don’t think this project will ever support components, but there _might_ be a way to support utilities created by third-party plugins.

[2019-05-01 14:57] shawnmmatthews opened #25 "Is group-hover supported in styled components?"
I have added group-hover under the visibility module array in tailwind.js. I have then added it in my styled component as
[code]
 It however doesn’t seem to be applying. All other tailwind styling is working as expected. Is there any thing I need to specifically do to get group-hover working?

[2019-05-01 16:05] shantang96 opened #26 "TypeError: Cannot read property 'transparent' of undefined"
Hi,

I'm using Gatsby and if I use "bg-", it throws the following error:

[code]

If I don't use bg everything works fine. And it's not just for a specific type of component, it happens as soon as I use "bg-" with any color.

[2019-05-05 20:10] bradlc commented on #20
@DevanB I’ve just published an update (`v1.0.0-alpha.3`) that will hopefully fix the issues with the styled-components babel plugin: `npm install tailwind.macro@next`

I think you might need to have `babel-plugin-macros` before `babel-plugin-styled-components` in your babel config. Let me know if that works ok for you.

[2019-05-05 20:30] bradlc commented on #25
Hey @shawnmmatthews

`group-hover` is supported in the `tailwind.macro` alpha, which you can try if you’re using Tailwind v1: `npm install tailwind.macro@next`

[code]

[2019-05-05 22:00] DevanB commented on #20
@bradlc Updated, tested, and seem to see no differences. **However,** I am using CRA, so didn't specify `babel-plugin-macros` before `babel-plugin-styled-components`, because I'm not overriding the `.babelrc`, yet.

When I create with ``` const Actionbar = styled.div`${tw`flex`}`;```, I get:

[code]

But when I create with ```const Actionbar = tw.div`flex`;```, I get:

[code]

It's quite possible

[2019-05-06 00:51] bradlc commented on #20
@DevanB Apologies, I misunderstood initally. After looking in to it properly and actually trying it in CRA I _think_ I’ve got it working.

My `babel-plugin-macros.config.js`:

[code]

My component:

[code]

Transformed code:

[code]

[2019-05-06 01:05] DevanB commented on #20
@bradlc looks like that will work. Is this on a remote branch somewhere? I don't mind testing it locally before pushing another alpha.

[2019-05-06 01:08] bradlc commented on #20
@DevanB It’s already released under the `next` tag 📦

[2019-05-06 01:30] DevanB commented on #20
Interesting, still no luck for me.

<img width="1478" alt="image" src="https://user-images.githubusercontent.com/354652/57203308-ec253500-6f7c-11e9-97b2-3bd47d8372ff.png">

[2019-05-06 01:40] bradlc commented on #20
I'm not at my computer right now, but here's a couple of things to check:

1. Are you definitely on the latest version? I think it was `v1.0.0-alpha-5`
2. What order are your `tw` and `styled` imports in, and have you tried swapping them round?

[2019-05-06 01:56] DevanB commented on #20
Good check points:

1. Yep, I'm pinned to `alpha.5` for sure.
2. They were not in that order before (since automatic import order puts `styled` before `tw`. But after switching them, it is working!

[2019-05-06 12:08] bradlc commented on #20
🎉 Sweet! Unfortunately because of how babel/babel-plugin-macros work if you are importing both `tailwind.macro` and `styled-components/macro` in the same file **you will need `tailwind.macro` first**

[2019-05-06 12:19] DevanB commented on #20
Makes complete sense.

The only reason I’m doing that is because on some components I need to conditionally set based on a prop. I know this is open in another issue so once it is doable via the tailwind macro, it shouldn’t be a problem at all!

[2019-05-06 12:24] bradlc commented on #20
Where possible I would recommend using `babel-plugin-styled-components` instead of the macro, which would avoid this issue, but I appreciate that CRA doesn’t support custom babel configs

[2019-05-06 15:30] shawnmmatthews commented on #25
Thanks!

[2019-05-06 15:30] #25 closed, assigned to nobody

[2019-05-06 16:56] DevanB commented on #20
@bradlc does this mean you don't plan to support props like you [stated here](https://github.com/bradlc/babel-plugin-tailwind-components/issues/22#issuecomment-478936715)?

[2019-05-06 20:10] bradlc commented on #22
@schrapel are you still seeing this on `v1.0.0-alpha.5`?

[2019-05-13 17:26] JaffParker commented on #26
I'll second this. I'm trying to use `text-blue` in a styled component like this:

[code]

It throws an error:

[2019-05-13 17:38] bradlc commented on #26
Are you using the Tailwind v1 config format by any chance?

[2019-05-13 19:30] JaffParker commented on #26
@bradlc I did generate a full config provided by Tailwind and it worked. Sorry, I forgot to update the issue.

[code]

[2019-05-13 20:07] JaffParker commented on #22
Can this work with styled-components or only @emotion?

[2019-05-13 20:48] JaffParker commented on #22
Adding classes based on props doesn't work when using `tw.button` syntax. I had to switch to styled-components to achieve that.

To illustrate, this won't work:

[code]

This will:

[code]

[2019-05-14 16:33] mrob11 commented on #26
I, too, am experiencing an issue like this. I've created a [minimal webpack 4 setup to reproduce the problem](https://github.com/mike360/tailwind-components-bug-repro). For what it's worth, I haven't been able to get this lib to work in any scenario that I've tried so far (Create React App, Next.JS, and this minimal webpack setup).

[2019-05-14 16:37] bradlc commented on #26
@mike360 your config is in the Tailwind v1 format. `tailwind.macro@latest` does not support this. I recommend trying out `tailwind.macro@next`, which is detailed here: https://github.com/bradlc/babel-plugin-tailwind-components/releases/tag/v1.0.0-alpha.2

[2019-05-14 17:43] mrob11 commented on #26
Works now! Thank you @bradlc

[2019-05-15 04:57] alanonthegit commented on #26
hey @bradlc I'm having the same issue (first time setting this up so I may be screwing up something), but I'm using a version of Tailwind that is before 1.0 (.0.7.4).

When I use my custom tailwind.js file, or even a default one, values like `text-center p-2 rounded` work, but `bg-red` gives out an error.

I'm on gatsby v2 and also have the "gatsby-plugin-styled-components" and  "babel-plugin-styl

[2019-05-21 05:35] apolzon commented on #20
Thanks for getting this working with v1.0.

I'm trying to use this (currently using the alpha.8 release) with cra + @emotion/styled, and the only issue I'm currently running into is the tw literal syntax is not properly outputting the hoisting/sourcemap functionality in dev. (It works fine, just as an inline style)

I read above where the babel-plugin-macros.config.js file needs to be defined with

[2019-05-21 22:55] shawnmmatthews opened #28 "group and group-hover are no longer working after updating to tailwindcss 1.0.1 and tailwind.macro 1.0.0-alpha 8"
Hey @bradlc

Thanks for all your work on this.

With tailwindcss 1.0.1 and tailwind.macro 1.0.0-alpha 8

I'm getting an error anytime I use group or group-hover.

`Error: tailwind.macro: Couldn’t resolve Tailwind class name: group Learn more: https://www.npmjs.com/package/tailwind.macro`

or if I remove group

`Error: tailwind.macro: Couldn’t resolve Tailwind class name: group-hover Learn more: ht

[2019-05-22 02:04] shawnmmatthews commented on #28
Ok so it does work with emotion, but for some reason not styled components. Is this expected behavior?

[2019-05-25 02:39] ben-foster commented on #20
Thanks for all the work here everyone. Dropping a note here for anyone else who still had the same problem as I did after reading the above responses...

I couldn't figure out how to mix in vanilla CSS in my tailwind styled components with the above solution of writing tailwind styled components this way:
[code]

But I can confirm that if you upgrade tailwind.macro to 1.0.0-alpha.8 add the code me

[2019-05-26 13:26] JaffParker opened #29 "Inconsistent with Typescript"
I use Create React App with Typescript, so to make the macro work in development, I have to use ES2015 export syntax in `tailwind.ts`:

[code]
This, however, doesn't work in the build process. For some reason during build, the macro expects specifically the CommonJS export syntax. For now I just change it manually, but I think it's obvious why it's not ideal.

[2019-05-26 18:04] bradlc commented on #28
Hey @shawnmmatthews

The `group` class should be used as a standard class name within your app. Here’s an example that I have confirmed works in `create-react-app` with `emotion` _and_ `styled-components`:

[code]

Also, in case you didn’t know, all variants are availabe regardless of your Tailwind `variants` config.

[2019-05-26 20:59] bradlc commented on #20
@apolzon please could you try `tailwind.macro@1.0.0-alpha.9`? In my tests the babel output is the same as using `styled` directly.

[2019-05-27 20:53] apolzon commented on #20
I'm still getting the same output as before. My hunch is that it has to do with the babel-plugin-macros.config.js file.

Here's the contents of my config file (located at my client root, its definitely getting read as my server will bomb if I replace '@emotion/styled/macro' with a typo):
[code]
(also tried without the /macro suffix)

and here's a snippet from my test page:
[code]

And here's what

[2019-05-27 22:57] bradlc opened #30 "emotion source maps"
I'm still getting the same output as before. My hunch is that it has to do with the babel-plugin-macros.config.js file.

Here's the contents of my config file (located at my client root, its definitely getting read as my server will bomb if I replace '@emotion/styled/macro' with a typo):
[code]
(also tried without the /macro suffix)

and here's a snippet from my test page:
[code]

And here's what

[2019-05-27 23:26] bradlc commented on #30
@apolzon Thanks for reporting this. After looking into it properly I found the issue: the source location info was not being carried over to the new AST nodes.

Please could you try `v1.0.0-alpha.10` (`npm install tailwind.macro@next`) and confirm that this has fixed the source map issue?

[2019-05-28 18:29] apolzon commented on #30
You rock! It works great :)

I experimented with all the different invocations of the tw literal I could think of, and there is one other that's still not outputting sourcemaps, which is using the tw literal directly (ie, by assigning to the css prop). I'll open a separate issue for that use-case, but if its outside of the intended use of this plugin, feel free to delete it.

[2019-05-28 19:12] apolzon opened #31 "Missing sourcemap when using tw literal as emotion's css prop (not styled components syntax)"
I'm not sure if your plugin is supposed to support this use-case or not since glancing over your source I didn't see any babel macro config options being used other than "styled", and I didn't need the macro config in place to get the `css(tw``)` syntax to work with sourcemaps, but I figured I'd mention it anyways)

[code]

and the babel output:

[code]

After typing this all out, however, I'm sur

[2019-05-28 20:04] shawnmmatthews commented on #28
Thanks @bradlc my mistake!

[2019-05-28 20:04] #28 closed, assigned to nobody

[2019-05-30 16:40] #30 closed, assigned to nobody

[2019-06-01 22:38] joulse commented on #19
Hey @bradlc 👋, I'm very interested! Is't planned to support class name interpolation one day?

[2019-06-03 17:16] rafamel commented on #29
Another issue with the CRA setup is that we're forced to place the config file within `src`, hence tempted to use variables and importing stuff that will only be defined on the browser. Since this is a compile-time config, it should be separated from runtime.

Requiring files on `babel-plugin-macros.config.js` is perfectly fine so I'd propose instead of -or in addition to- being able to define the

[2019-06-09 12:57] ockam commented on #20
@bradlc using alpha.10 with Emotion in Gatsby, everything works fine with my components, but when I build my site, Tailwind defautConfig.stub.js gets lumped into the bundle. SInce it contains ES6 spread operator, this make older browsers crash (Edge, Explorer).

I tried building a simple test case with a new vanilla Gatsby and I don’t have this problem, so, it’s probably not an issue with the macr

[2019-06-11 20:22] apolzon opened #32 "flex-grow/flex-shrink classes not working on v1 beta 10"
The flex-grow and flex-shrink classes are incorrectly looking for `flex["grow"]`/`flex["shrink"]` in the theme, which results in no styles being applied:

[code]

My guess is its because the `flex` className exists in the dynamicStyles definition, causing the macro to treat this case as a prefix. For example, `flex-1` works fine with the default tailwind theme, because theme.flex["1"] is defined o

[2019-06-12 10:47] bradlc commented on #32
Thanks @apolzon, I will get this sorted this week

[2019-06-16 17:58] tobeycodes commented on #20
I am now getting this error `tailwind.macro: Cannot read property 'type' of undefined` when using any class that uses a color e.g. text-red-500, bg-red-900. Other things work like underscore, p-10, m-10, etc. I'm using the following versions if it matters

[code]

EDIT: I do not get this anymore after nuking it and starting again.

[2019-06-24 21:40] ynnoj commented on #20
Anybody using this with Next.js/SSR?

[2019-07-09 13:58] B3Kay commented on #20
I can't get it to work with my tailwind.config.js. I can run it without it. Quite hard to grasp.

[2019-07-10 00:33] tobeycodes commented on #22
@bradlc I do not see this anymore. Sorry I somehow missed this notification. Thanks for the great package.

[2019-07-28 01:47] DaneEveritt opened #34 "ReferenceError: tw is not defined when using without macros"
Howdy! Spent the last few hours trying to figure out if I was doing something stupid here, but just hitting walls and Google is letting me down.

I'm trying to use this without the macros by using the `babel-plugin-tailwind-components`, but I'm just getting `ReferenceError: tw is not defined` whenever I try to render a component. However things compile without any issues. Its just when I go to loa

[2019-07-28 01:50] DaneEveritt commented on #34
Also if I try to use `babel-plugin-tailwind-components@next` I get:

[code]

[2019-08-04 08:02] cuong-nguyen commented on #20
Hi, it seems like I can't do conditional like below
[code]
Is there a way I can make it dynamic like that? Thanks.

[2019-08-06 15:15] tobeycodes commented on #20
The type error I mentioned above is back :(

Works fine for anything like p-10 but colors do not work e.g. bg-red-500

[code]

[2019-08-06 16:14] tobeycodes commented on #20
@bradlc Looks like the error goes away (and colors work) when I comment out this line. Do you have an idea of why this might be happening? Thanks again.

https://github.com/bradlc/babel-plugin-tailwind-components/blob/next/src/getStyles.js#L138

[2019-08-12 20:01] sisi-sh opened #36 "create-react-app: Relative imports outside of /src are not supported"
**Issue**

Create-React-App has a plugin, `ModuleScopePlugin`, that stops components from accessing files outside `/src/`. Apparently, when I import tailwind in a component while using a `tailwind.config.js` in the root of my project, Tailwind can't access it, and I get this error:

[code]

**Workaround**

It seems that he only ways to overcome this issue right now is to remove/filter out `ModuleS

[2019-08-17 14:58] cuong-nguyen commented on #20
@bradlc I am on ^1.0.0-alpha.2.
Does it support custom plugin for tailwind? I tried adding sample plugin from https://tailwindcss.com/docs/adding-new-utilities#using-a-plugin but the styles are not available

Extend existing utility seems to work fine
[code]

`rotate-` utilities are not there.

[2019-08-17 16:45] tobeycodes commented on #20
It does not. I tried the other day using the official custom-forms plugin and it did not work. I opted to use className in that instance.
On 17 Aug 2019, 09:58 -0500, Chris <notifications@github.com>, wrote:

[2019-08-18 05:22] cuong-nguyen commented on #20
@schrapel good to know. Spent quite some time to make this macro works properly then hit this limitation. I think I will go for className approach then.

[2019-08-20 19:30] tobeycodes opened #38 "[v1] Recognising custom spacing naming"
I've added some new spacing lengths but they are not recognised by the macro. The following example does not work, but adding the class name directly using className does.

[code]

[2019-08-29 06:09] ristomcintosh opened #39 ""fs" dependency was not found?"
I'm trying to 1.0.0-alpha.10 in Gatsby but I keep getting this error
[code]

My code is

[code]

babel-plugin-macros.config.js

[code]

[2019-08-29 07:06] zlokomatic commented on #39
I added

[code]
to my webpack config to resolve the error

[2019-08-29 20:34] spiraljacobs commented on #39
I have the same issue.  Don't have a webpack.config in my gatsby, not sure how to add @zlokomatic 's code / how to add a webpack.config...

[2019-08-29 21:33] ristomcintosh commented on #39
I just reverted back to the stable build.

@spiraljacobs you can excess Gatsby's Webpack config in the gatsby-node.js file

https://www.gatsbyjs.org/docs/add-custom-webpack-config/

[2019-08-30 08:39] spiraljacobs commented on #39
@Risto-Mcintosh thanks!  Got it working with @zlokomatic's suggestion.
What is the last stable build?  Went to Alpha9, and it still has this issue.

[2019-08-30 21:14] ristomcintosh commented on #39
@spiraljacobs that's great! I'll use it on my next project

The build I was referring to is the one that only supports Tailwind v0.7.x

[2019-09-01 06:55] khalwat commented on #39
This appears to be due to Tailwind CSS's use of `reduce-css-calc` starting with Tailwind `^1.1.0`, which apparently depends on it being run via Node.

https://www.gitmemory.com/issue/TVke/react-native-tailwindcss/7/523364996

@zlokomatic 's solution above works, which to clarify means adding this to your `gatsby-node.js`:

[code]

The only other thing that could help is if `tailwindcss` was a peer

[2019-09-16 22:34] nk2580 commented on #36
you do not want to do this. this is a bad practice... could we do a PR to add the config object itself as an option? that way we could import an object explicitly and use that instead?

[2019-09-23 07:48] phmngocnghia opened #40 "ReferenceError: _tailwindUtils is not defined"
[code]

Error is shown when added tailwind macro to responsive media query select:

[code]

Reproduce:

- Repository: https://github.com/phmngocnghia/ReactTypescriptEmotionTailwindBoilerplate
- File: App.tsx
- Branch: template/fylo-landing-page

Babel configs:

[code]

[2019-09-26 17:55] NikkiJonesR opened #41 "Using Tailwind Plugins within Tailwind.js"
Hi there,

Is it possible to load tailwind plugins and use them within my styled components?

For instance something like this?
[code]

And in my tailwind.js:

[code]

[2019-09-29 19:14] markbrouch opened #42 "Pass variables to the tagged template literal"
I'm trying to pass a variable from Styled Components to my tailwind tagged template literal, but can't figure out how to do it. This doesn't work:
[code]

[2019-09-30 13:45] eelkeh commented on #42
Having the same issue with something like:

[code]

[2019-09-30 21:09] NikkiJonesR commented on #42
I believe you need to use the css helper to do interpolations: https://www.styled-components.com/docs/api#css

So something like this ...
[code]

[2019-10-02 08:33] davidohlin commented on #36
For anyone else ending up here, this is my workaround.

 **Use with caution** I guess as I barely understand webpack. @nk2580 please weigh in!

1. Create a `craco-disable-module-scope-plugin.js` in the root of your project:
[code]

2. Update your `craco.config.js` file:
[code]

[2019-10-08 03:00] pyrbin commented on #42
Using typescript this doesnt seem to work:
[code]

[2019-10-08 09:53] Viperwow opened #43 "[QUESTION] Any possibility to adapt it to `linaria`?"

[2019-10-09 10:45] phmngocnghia commented on #43
@Viperwow linaria can be used in conjunction with postcss to support tailwind directive @apply.

The syntax will look like like the image bellow.
![image](https://user-images.githubusercontent.com/36730355/66474930-7b022480-eabc-11e9-8abc-ef767e5de7a9.png)

[2019-10-09 14:56] Viperwow commented on #43
This is close enough to what I'm looking for! Thanks!

[2019-10-09 14:56] #43 closed, assigned to nobody

[2019-10-10 14:37] modulareverything commented on #39
What is the suggestion here? To only use Tailwind `1.0.0` for now?

[2019-10-10 15:46] khalwat commented on #39
@n0k5 I updated my answer to be more specific.

[2019-10-11 06:27] modulareverything commented on #39
Thanks @khalwat — the missing thing there for me was the `getConfig()` line I think. I assume this pulls in the existing config?

[2019-10-19 20:26] alejandrovasta commented on #20
Hey guys! could you make it work? I have no luck with Gatsby + Tailwind v1.0 and macro :( it runs on dev but when I try to build it does not happen

[2019-10-20 18:29] edbentinck opened #44 ""No theme provided" error"
**Package Versions:**
[code]

I have just started a new project using `babel-plugin-tailwind-components`, and trying to use prop variables for dynamic component styling:

[code]

The snippet above produces a console error stating that the component `...references the 'theme' prop in its styles but no theme was provided via prop or <ThemeProvider>.` I assume this is because at run-time dynamic styl

[2019-10-24 01:41] GTDev87 commented on #34
I'm getting the same problem any update anyone?  I'm using babel-plugin-tailwind-components@next too.

[2019-10-24 18:42] DaneEveritt commented on #34
@GTDev87 I solved this one, turns out I couldn't use `ts-loader` and Babel together, I just moved it to be entirely `babel` for compiling the TS and it started working.

[2019-10-26 19:51] alejandrovasta opened #45 "Loading tailwind config file"
Hey folks! I am getting this message when building/running dev 🤔 do you know why I am seeing this?

[code]

Thanks in advance

[2019-10-28 14:17] sanishkr commented on #23
Any Update on Supporting third party/custom plugins of tailwind in macros.

[2019-10-29 20:15] quant-daddy opened #46 "Not loading extended theme in tailwind config"
I am extending the default tailwind config as shown below. It allows me to use new class names like `bg-black-100` but it is not being recognized by the tailwind macro. I'm using the latest build of the macro and the latest tailwind stable release.
[code]

[2019-11-04 08:28] flogy commented on #20
Hi @alejandrovasta

I too could not make it work for a long time. Then I discovered this awesome Gatsby theme: [gatsby-theme-tailwindcss](https://github.com/talensjr/gatsby-theme-tailwindcss/blob/master/theme/README.md) 😊

It supports Tailwind 1.x and also works when built (just tried it locally).

**Side note:** the theme also uses `tailwind.macro` etc. internally, so it does not support `custom-

[2019-11-04 12:43] alejandrovasta commented on #20
Puff awesome! it works. Thanks so much

[2019-11-05 16:53] denvash opened #47 "Using plugin in storybook v5"
It may be a follow up of #7

I'm getting a build-time error when trying to use this plugin in a storybook without success.

The plugin works well with CRA (using `v1`):

[code]

[code]

[code]

Any guidance/suggesting (is it plugin's issue or storybook's) will be much appreciated.

<details>
<summary>Full Log</summary>
<pre><code class="console">
ERROR in ./node_modules/cosmiconfig/dist/readFile.j

[2019-11-05 17:03] denvash commented on #47
Added `{ fs: 'empty' }` under `node` config in webpack and it reduced the error to:

[code]

[code]

[2019-11-08 13:58] davidnknight commented on #32
Still not working for me with ^1.0.0-alpha.10. I assume this hasn't been fixed?

[2019-11-13 15:30] adrianjacob opened #48 "Using css={tw`items-stretch`} translates to "align-items:flex-stretch" (which is wrong)"
Hi,

Hope I am submitting this in the right repo (assume it wasnt a tailwind default thing as havent seen this issue outside of css-in-js).

When I use the class '`items-stretch`' it translates in css-in-js as

[code]

The 'flex-' should not be there. It should just be `align-items:stretch`

This issue seemingly only affects this class. Using the other align items classes on tailwind work fine. Ve

[2019-11-15 11:40] zamson commented on #20
Wow this is so much cleaner than using className. So, will tailwind plugins just not work? That's a bummer. The custom-forms plugin is important to me. Are there any plans to make this work?

[2019-11-15 18:16] rozaxe commented on #45
Because apparently you did not config tailwind in your babel's macros config.

Here is the options you can provide in your `babel-plugin-macros.config.js` https://github.com/bradlc/babel-plugin-tailwind-components#options

[2019-11-15 18:23] rozaxe commented on #36
What worked for me was to look at this repo : https://github.com/aedificatorum/cra-tailwind-emotion-starter

They had a working example of CRA + Tailwind + CSS-in-JS.

The main point was that they used the next version (1.0.0-alpha) instead of the current one (0.5.10)

https://www.npmjs.com/package/tailwind.macro/v/1.0.0-alpha.10

[2019-11-15 18:33] leonardoelias commented on #20
Wooow, this fantastic.

Any examples using next.js?

[2019-11-15 23:13] alejandrovasta commented on #45
Thanks it worked ;)

[2019-11-22 06:30] tgrecojs commented on #20
@leonardoelias the next.js examples repository has one that incorporates tailwind with emotion-js. not sure if you already came across that, but if not here it is: [next.js examples - withtailwindcss-emotion](https://github.com/zeit/next.js/tree/canary/examples/with-tailwindcss-emotion) 😎👍

[2019-11-22 12:42] tobeycodes commented on #20
I was using this with Next.js but now I pulled it out and just use className. Unfortunately I kept running into issues with this repo. I want to spend some time soon to try fix the issues I identified and add full tailwind v1 compatability

[2019-11-22 13:41] deadcoder0904 commented on #20
@schrapel same. a project like this is better in the main repo where it gets maintained with recent changes or else we won't be able to enjoy new features :)

[2019-11-22 13:43] tobeycodes commented on #20
I don't think it will ever go into the main repo. I don't think it is something @admwathan would want.

I hope that @bradlc will find some time to review the PRs I will add but I understand that OSS is hard and we don't always have as much time to devote as we would like.

[2019-12-01 03:43] ghost opened #49 "gatsby setup"
has anyone used this library with gatsby? any instructions for gatsby setup?
thanks

[2019-12-01 20:10] vse-volod commented on #49
This one is the best so far - https://nystudio107.com/blog/using-tailwind-css-with-gatsby-react-emotion-styled-components

[2019-12-03 16:35] rbutera commented on #47
@denvash were you able to resolve your issue?

I am having a separate issue when it comes to using this plugin with Storybook V5.

If I try to use the following example macro:

[code]

I get this error

`TypeError: /Users/rai/dev/thatslit/src/components/subtitle/subtitle.css.js: tailwind.macro: Cannot read property 'mono' of undefined Learn more: https://www.npmjs.com/package/tailwind.macro`
when

[2019-12-03 16:41] denvash commented on #47
I created a starter for **gatsby**: [`gatsby-tailwind-styled-components-storybook-starter`](https://github.com/denvash/gatsby-tailwind-styled-components-storybook-starter), you can check the code of `webconfig.js` and try to configure it for CRA.

TL;DR, you should try adding Post-CSS.

[2019-12-03 16:43] rbutera commented on #47
Thanks for the information.

I managed to fix that error by installing `npm install —save tailwind.macro@next` which supports tailwindcss 1.0

[2019-12-05 04:58] #49 closed, assigned to nobody

[2019-12-08 19:02] noliiva commented on #20
Hello there.
I'm pretty new to tailwindcss and I try to use it with the macro (alpha-10).
Base styles works fine but I can't use "container" class. I get this error: `Error: Couldn’t resolve Tailwind class name: container`.
I try to addComponent in config file to replace "container", but this didn't work.
Did I miss something ?

[2019-12-08 19:36] tobeycodes commented on #20
@noliiva the container class is not supported. You should use `className` for that

[2019-12-08 20:29] noliiva commented on #20
Oh, ok. That's sad. :p
Are there any plans to support this feature someday?

[2019-12-12 15:48] mergims commented on #20
@noliiva just had the same problem. I changed macro.js on row 1108 and it worked.

From:
`var obj$1 = state.isProd ? resolveStyleFromPlugins(state.default, className) : ( obj$3 = {}, obj$3['__spread__' + index] = state.tailwindUtilsIdentifier.name + '.resolveStyleFromPlugins(' + state.tailwindConfigIdentifier.name + ', "' + className + '")', obj$3 );`

To:
`var obj$1 = state.isProd ? resolveStyleF

[2019-12-12 15:53] noliiva commented on #20
Oh, that's interesting !
Perhaps this should be added officially to the macro. :)

[2019-12-12 15:56] mergims commented on #20
@noliiva Yep. An option would be to fork the `next` branch and implement the fix if you need it urgently. And then add the git repo as a dependency in your project.

[2019-12-16 19:04] fknop commented on #47
Any news on this issue?

I have the same issue with Storybook 5 / React / Typescript and tailwind.macro@next:

My ./storybook/.babelrc:

[code]

My .storybook/webpack.config.js:

[code]

If I don't have empty, I have the "can't resolve" error.

[2019-12-17 15:35] rbutera commented on #47
@fknop

I'm working on a project right now using storybook 5, react and typescript and the tailwind macro, you can check out the storybook configuration here

https://github.com/rbutera/thatslit/tree/develop/.storybook

let me know if you find this useful and it helps you fix your problem (what are you missing?)

[2019-12-24 13:51] modulareverything commented on #46
Did you ever resolve this @skk2142 ?

[2019-12-24 19:36] tobeycodes commented on #20
This might be useful. In a new project we decided to not use this package. Instead we load the Tailwind CSS file (purgecss/cssnano in production) and use a classnames function to choose the classes. It offers a similar developer experience. With Tailwind css v2 just around the corner this package we chose not to rely on this package for the time being.

Hope this helps someone

https://github.com/

[2020-01-07 16:46] rbutera commented on #47
@fknop

I've now made a gatsby starter with typescript, tailwindcss, babel-plugin-macros and, ofc, tailwind.macro

If you want to see the reasoning behind it you can look at the blog post:

https://medium.com/@rbutera/jamstack-tutorial-part-1-gatsbyjs-with-storybook-tailwindcss-and-typescript-setup-bd28855db897

Alternatively, you can just use the starter:

https://github.com/rbutera/greater-gatsb

[2020-01-07 17:15] nicholaswhittle opened #50 "Can't extend tailwind config"
Hi,
Love this!
But having trouble getting the tailwind config to work.

Using with react. Tailwind works fine with the config if using `className`
But when trying to use with emotion, tw always defaults to the 'default' config.

[code]

[code]

[code]

Everything seems to be working fine except its not pulling in any config.

testing config (make red green to test):

[code]

I specifically require

[2020-01-11 21:03] nicholaswhittle commented on #50
Ok so i pinpointed the problem...
Firstly i need to delete the .cache in node_modules for deleting babel cache.

But because the macro only merged the config in production, this causes the problem:

[code]

As i set the NODE_ENV to dev when running in dev

[2020-01-24 07:17] jonny-harte opened #51 "V1 Timeline?"
Hi, is there any update on when v1 will be released?

[2020-02-06 18:10] sanishkr opened #52 "Support for tailwind 1.2+ [Feature Request]"
Please add support for new utilities introduced with tailwind 1.2 like css grid, transform, etc..

[2020-02-07 14:26] axe312ger commented on #52
Just digging into the source, I guess we easily could create a PR, as I guess we only have to extend these files:

https://github.com/bradlc/babel-plugin-tailwind-components/blob/master/src/static-styles.js
https://github.com/bradlc/babel-plugin-tailwind-components/blob/master/src/dynamic-styles.js

Edit:

These are the files from master, v1 work was done in next. There are many new files, but the

[2020-02-07 14:35] sanishkr commented on #52
Yeah, right. Please confirm @bradlc

[2020-02-10 08:38] sanishkr commented on #52
Alright, I'm going in.
Starting with [staticStyles](https://github.com/bradlc/babel-plugin-tailwind-components/blob/next/src/staticStyles.js) display section, and will go in that order and keep updating as in latest v1.2 of tw.

It will be great if more people join in and help, maybe take on [dynamicStyles](https://github.com/bradlc/babel-plugin-tailwind-components/blob/next/src/dynamicStyles.js)

[2020-02-10 20:18] ben-rogerson commented on #52
There are features that have been introduced that require some major changes to the selector matching system in this package.
I'm releasing a new package soon that has a high degree of support for the new v1.2 features along with a few extras.
[Follow for announcements](https://twitter.com/benrogerson)

[2020-02-11 06:24] sanishkr commented on #52
Thanks @ben-rogerson , shall wait for it then. When can this plugin be released?
It will be great if you keep the similar ``` tw`` ``` literal format as in this plugin.

And you mean to say tailwindcss *v1.2 features*, right?

[2020-02-11 06:45] ben-rogerson commented on #52
I'm planning on the first release in two weeks around Feb 26th.
I've chosen to use `babel-plugin-tailwind-components` as a solid base so it'll include the same features, and the macro `tw` will definitely be kept 👍

_Correct, I meant Tailwind 1.2 (I'll edit that)._

[2020-02-12 20:13] mhaagens commented on #46
Having the same issue. Anyone found a fix?

[2020-02-12 20:15] mhaagens commented on #50
Hi! I'm having the same issue, but can't seem to find any .cache folder in node_modules.
Is that all you had to do to get it to work?

[2020-02-12 21:26] nicholaswhittle commented on #50
Are you running with any env variables? Eg production / development?

[2020-02-12 21:48] mhaagens commented on #50
No env variables, `process.env.NODE_ENV` is `undefined`.
And if the folder isn't there then nothing should be cached anyways right?
I have `cacheDirectory: false` in babel-loader as well. Really stumped on this one.

I see you have babel-plugin-tailwind-components installed, is that necessary?
I'm using the PostCSS plugin and the tailwind.macro.

The extended classes work PostCSS, but not with ` t

[2020-02-12 22:01] nicholaswhittle commented on #50
If i remember right it could also be to do with the macro version.

Try version `1.0.0-alpha.10`

Let me know

[2020-02-12 22:03] mhaagens commented on #50
Already on `1.0.0-alpha.10` :sweat_smile:

[2020-02-12 22:04] nicholaswhittle commented on #50
Ah,

It could still be the env variable. As it only merges when it detects production env.
So if its undefined it still won't merge.

I made a simple fork to remove this env check:
https://github.com/nicwhitts/tailwind.macro-env-compatible

Give this a try

[2020-02-12 22:05] mhaagens commented on #50
It's definitely using the tailwind.config.js, because if I delete it then it all crashes.
But when I extend the config PostCSS picks up the new classes correctly, but the macro doesn't. If I change a value then PostCSS shows the new value, while the macro still uses the old one. So has to be something with caching, just can't find any folder with the cached version. Not caching in babel-loader and

[2020-02-12 22:20] mhaagens commented on #50
Didn't work either. Thanks for trying to help me out though :)

[2020-02-12 22:56] mhaagens commented on #50
@nicwhitts Managed to get it solved. The problem was that babel-plugin-macros.config.js was not being picked up by babel-plugin-macros.

[2020-02-13 08:22] nicholaswhittle commented on #50
Glad to hear

[2020-02-18 14:17] DavidJFelix opened #53 "Breakpoint media queries are translated incorrectly"
# Issue that I'm seeing

I'm using the tailwind macro with emotion, and with this case:

[code]

What I'm seeing is the large width is applied but the medium left padding is taking precedence over the large left padding. The only reason this would be the case is if the large media query for left padding happens before the medium query.

# Expected Behavior

When tailwind is used in a utility class

[2020-02-18 15:34] hacknug commented on #46
Seems like @mhaagens and @nicwhitts found a solution on #50.

[2020-02-19 11:57] ben-rogerson commented on #52
Hey all, I've just released my plugin [Twin 🎉](https://github.com/ben-rogerson/twin.macro)

[2020-02-19 13:19] sanishkr commented on #52
Thank you so much. @ben-rogerson

[2020-02-22 08:37] quant-daddy commented on #46
Sorry for a late response. So I started working on a new project and things seems to be working. Here's my setup for reference:
[code]

[2020-03-28 20:39] #51 closed, assigned to nobody

[2020-04-13 22:40] ben-rogerson commented on #53
Checkout [Twin](https://github.com/ben-rogerson/twin.macro) - You won't need to worry about this as I'm ordering the screens by the order defined in the `screen` part of your tailwind.config.js

[2020-04-30 12:09] fvanwijk commented on #52
Isn't it possible to get the features from [`tailwindcss`](https://github.com/tailwindcss/tailwindcss/tree/master/src/plugins) instead of having to keep this plugin up to date manually?

[2020-04-30 14:07] sanishkr commented on #52
It's only possible to do so up to a certain extent. I guess, @ben-rogerson is doing that in `twin.macro`.

[2020-04-30 14:41] lukasluecke commented on #52
There is something in progress at https://github.com/ben-rogerson/twin.macro/pull/13

[2020-07-01 22:54] #38 closed, assigned to nobody

[2020-07-23 00:52] imyjimmy commented on #15
is there a temporary workaround?

[2020-08-20 13:36] WebTerminator opened #55 "TW is not defined"
I have a Next.js app setup with TS, Tailwind and Styled-Components. Storybook and the application work fine in displaying my components however my tests are failing:

my component:
`export const HamburgerIconWrapper = tw.div flex flex-1 justify-start sm:hidden`

my test:
[code]
Result:
![Screen Shot 2020-08-20 at 14 32 28](https://user-images.githubusercontent.com/4947347/90776557-27728100-e2f2-11

[2020-09-09 10:04] mw999 opened #57 "When trying to use negative styles, the version evaluated in production builds is not correct."
For example with the following code:

[code]

This would evaluate in development development to this:

[code]

However in production, it created

[code]

Here is chrome not liking the built style in prod

![image](https://user-images.githubusercontent.com/18057994/92584313-63fb2200-f28b-11ea-96f8-79ff8bcd8220.png)

[2020-09-09 10:05] mw999 commented on #57
Have submitted a PR here: https://github.com/bradlc/babel-plugin-tailwind-components/pull/56

[2020-11-03 12:55] youwillbe opened #58 "How to add base style?"

[2020-12-04 23:07] nitzanvolman opened #59 "outdated default configuration file name."
[macros calling the wrong tailwind configuration file](https://github.com/bradlc/babel-plugin-tailwind-components/blob/9b4e7b5a9ce87d4eaf7fc19b7d8c86d5a940cb2b/src/macro.js#L11)

since Tailwindcss v1.1.2 the default should be tailwind.config.js

[2020-12-10 17:54] tcarac commented on #55
Same scenario

[2021-01-12 02:29] b-d-m-p commented on #39
@zlokomatic Thanks for the fix. Can you tell me where it should be added in the webpack config?

[2021-01-12 06:39] b-d-m-p opened #60 "MacroError with webpack"
Getting this error with a project that is using RMWC. I've seen people posting about the same issue with Storybook or Jest. I can't seem to suss out the solution. Any help would be appreciated.

I've also gotten the same error trying the approach with Twin.

[code]
 I suppressed some potentially related errors about `fs`  and `module` being undefined with the below in `webpack.config.js`.

[code]

[2021-01-22 01:48] #58 closed, assigned to nobody

[2022-02-04 00:26] #16 closed, assigned to nobody

[2022-05-13 01:41] OneTuskedMario commented on #36
This solution seems to work outside of the box in almost all cases. Is there something that I'm missing this fix inadvertently breaking things?

[2022-07-13 11:45] jagadmitul opened #61 "Cannot apply arbitrary values in Frontity"
**_Bug report_**
Custom Tailwind CSS is not applying, like `text-center text-[50px] text-[#eb3a34] mb-[30px]`
I've tried using below packages,
https://github.com/cbfn/frontity-with-tailwind
https://github.com/bradlc/babel-plugin-tailwind-components
but not working
- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated

[2022-10-28 22:14] bblatnick32 commented on #50
@mhaagens What did you change to get babel-plugin-macros.config.js to be picked up by babel-plugin-macros?